body {
    margin: 0;
    padding: 0;
    background-color: #f7e59d;
}
.skip{
    position: absolute;
    top: -40px;
}
main{
    background-color: #f7e59d;
    margin-bottom: 110px;
}
.contianer{
    display: grid;
}
.burchfield-image{

}
footer {
    background-color: #02473A;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: -100;
}
header{
    background-color: #f7e59d;
}
h6{
    color: white;
    font-size: 20px;
}
img{
    max-width: 400px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    flex-direction: row;
}
nav ul li{
    padding: 4px;
}