/* Overall Style */
body {
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: Avenir, sans-serif;
    /* background-image: url("/images/background.PNG"); */
    text-align: center;
    
}
p{
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
}
#goal{
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: #4A6B6E;
}
.skip{
    position: absolute;
    top: -40px;
}
main{
    margin-top: 20px;
    margin-bottom: 150px;
    
}
img{
    width: 600px;
    padding: 20px;
}

/* Header and Nav */
header{
    background-color: #EFEFE5;
}

nav img{
    width: 150px;
    padding: 0%;
}

nav {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: 130px;
}

nav ul{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 20px;
    grid-area: 1/2;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 16pt;
    padding: 4px;
}



#grid-logo{
    grid-area: 1 / 1 ;
    margin: 25px;
    text-align: left;
}

#activepage{
    color: #4A6B6E;
    text-transform: uppercase;
    font-weight: bold;
}

#burchfield-gallery{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#parallax {
    background-image: url("../images/desktop.JPG");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#parallax img{
    display: block;
    position: relative;
    margin: auto;
    object-fit: scale-down;
    object-position: bottom;
}
/* footer */
footer {
    background-color: #4A6B6E;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 10px;
    margin: auto;
    color: white;
    height: 40px;
}
footer p{
    font-size: 10pt;
    text-align: center;
}




/* work page content */
.container{
    display: grid;
    margin: 40px;
    padding: 10px;
    grid-template-columns: auto auto auto auto;
}
#burchfield-image{
    grid-area: 1 / 2 / span 1 / span 2;
}
#burchfield-text{
    grid-area: 2 / 2 / span 1 / span 2;
}
#naturerx-image{
    grid-area: 3 / 2 / span 1 / span 2;
}
#naturerx-text{
    grid-area: 4 / 2 / span 1 / span 2;
}
#plant-image{
    grid-area: 5 / 2 / span 1 / span 2;
}
#plant-text{
    grid-area: 6 / 2 / span 1 / span 2;
}

.content-image{
    padding: 10px;
    margin: auto;
}
.content-text{
    padding: 10px;
    text-align: left;
    margin: 0;
    padding-bottom: 20%;
}
.content-text p{
    padding: 0px;
    margin: 0px;
}
.gallery{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gallery img{
    opacity: 80%;
    width: 50%;
}
    
.gallery img:hover{
    opacity: 100%;
    width: 60%;
}

#animation{
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes arrow{
    0%   {top:0px;}
    50%  {top: -40px;}
    100% {top:0px;}
}

.button{
    background-color: white;
    color: #4A6B6E;
    border: 2px solid #4A6B6E;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}
#form-title{
    margin-bottom: -15px;
}
#form{
    background-color: #EFEFE5;
    padding: 20px;
}

@media screen and (min-width: 800px){
    
    
    p{
        align-content: center;
        text-align: justify;
        width: 50%;
        margin: auto;
    }
    nav ul{
        display:flex;
        flex-direction: row;
        margin: 35px;
    }
    nav{
        justify-content: space-between;
        
      }
    .gallery{
        padding: 20px;
        margin-right: 20%;
        margin-left: 20%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .container{
        grid-template-columns: 1fr 2fr 2fr 1fr;
    }
    .content-text{
        text-align: left;
    }
    #burchfield-image{
        grid-area: 1 / 2;
    }
    #burchfield-text{
        grid-area: 1 / 3 ;
    }
    #naturerx-image{
        grid-area: 2 / 2;
    }
    #naturerx-text{
        grid-area: 2 / 3 ;
    }
    #plant-image{
        grid-area: 3 / 2;
    }
    #plant-text{
        grid-area: 3 / 3 ;
    }
    #burchfield-gallery{
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #burchfield-gallery img{
        max-width: 40%;
        padding: 10px;
        align-self: baseline;
    }
    #about{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    #about img{
        width: 400px;
        align-self: center;
        justify-self: right;
        padding-right: 30px;
    }
    #about-text{
        text-align: left;
        justify-self: left;
        margin-left: 10px;

    }
    #about-text p{
        margin: 10px;
        justify-self: left;
    }
}   


@media screen and (max-width: 430px){
    
    #parallax{
        display: none;
    }
    #grid-logo{
        position: absolute;
    }
    p{
        align-content: center;
        width: 90%;
        margin: auto;
    }
    nav ul{
        display:flex;
        flex-direction: column;
        width: 120%;
    }
    h2{
        text-align: center;
        padding: 0%;
    }
    .gallery{
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .container{
        grid-template-columns: 1fr 4fr 4fr 1fr;
    }
    .content-text{
        text-align: center;
        padding: 0%;
        padding-bottom: 20%;
        
    }
    
    #burchfield-image{
        grid-area: 1 / 2/ span 1 / span 2;
    }
    #burchfield-text{
        grid-area: 2 / 2 / span 1 / span 2;
    }
    #naturerx-image{
        grid-area: 3 / 2/ span 1 / span 2;
    }
    #naturerx-text{
        grid-area: 4 / 2 / span 1 / span 2;
    }
    #plant-image{
        grid-area: 5 / 2/ span 1 / span 2;
    }
    #plant-text{
        grid-area: 6 / 2 / span 1 / span 2;
    }
    #burchfield-gallery{
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #burchfield-gallery img{
        max-width: 40%;
        padding: 10px;
        align-self: baseline;
    }
}
